*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Alan Sans", sans-serif;
}

nav .navbar {
    background-color: #ec8fbe;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0;
}

.humburger {
    display: none;
}

.navbar img {
    width: 150px;
}

.navbar .list ul {
    display: flex;
    list-style: none;
}

.navbar .list ul li {
    padding-left: 40px;
}

.navbar .list ul li a{
    text-decoration: none;
    color: white;
}

nav .navbar .list ul li a:hover{
border-bottom: 3px solid #f1cfe0;
} 


@media (max-width: 900px) {
    .navbar {
        position: relative;
    }

    .humburger {
        display: block;
        cursor: pointer;
        font-size: 25px;
        width: 35px;
        height: 35px;
        position: relative;
    }

    .humburger i {
        position: absolute;
        inset: 0;
        margin:auto;
        width: max-content;
        height: max-content;
        opacity: 0;
        transition: .3s ease;
    }

    .humburger .fa-bars {
        opacity: 1;
    }

    .humburger .fa-bars.active {
        opacity: 0;
        transform: rotate(180deg);
    }

    .humburger .fa-xmark.active {
        opacity: 1;
        transform: rotate(180deg);
    }

    .list {
        position: absolute;
        background-color: #f1cfe0;
        top: 70px;
        left: 0;
        width: 100%;
        opacity: 0;
    }

    .list.active {
        opacity: 1;
    }

    .navbar .list ul {
        display: block;
    }

    .navbar .list ul li {
        margin-left: 20px 0;
        margin-left: 65px;
        border-bottom: 2px solid #ec8fbe; 
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .navbar .list ul {
        margin-left: 0px;
    }

    .navbar .list ul .last {
        border-bottom: none;
        padding-bottom: 20px;
    }

    .navbar .list ul li a {
        margin: 0;
    }

        .navbar .list ul li a:hover {
    color:#ec8fbe;
}
}