@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

header {
    height: 85vh;
    padding: 20px;
    background: url(img/home_bg.jpeg) center center/ cover no-repeat;
    position: relative;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#nav img {
    width: 80px;
}

#nav ul {
    display: flex;
    margin-right: 100px;
}

ul {
    list-style: none;
}

#nav ul li a {
    padding: 15px 20px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: #fff;
}

#nav ul li a:hover {
    border-bottom: solid rgb(255, 128, 0) 2px;
}

header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 20px;
    padding-top: 90px;

}

header .content h1 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.content .food {
    color: #ff8000;
}

header .content p {
    margin-bottom: 40px;
    color: #fff;
}

header .content a {
    color: #fff;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

header * {
    z-index: 10;
}

header .content a {
    display: flex;
    justify-content: center;
    border: solid white 1px;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

header .content a:hover {
    background-color: #e4b95b;
}

.container {
    max-width: 1100px;
    margin: auto;
}

#about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding-bottom: 20px;
}

#about .tittle {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px 0;
}

#about .tittle h2 {
    color: #383848;
    font-size: 40px;
}

#about .tittle p {
    color: #a4a4a4;
    padding-top: 20px;
    font-weight: 600;
}

#about .content {
    display: flex;
    justify-content: space-between;
}

#about .content img {
    width: 450px;
}

#about .content p {
    color: #a4a4a4;
    margin-right: 7rem;
    line-height: 1.6;
    ;
}

#about .content a {
    display: flex;
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border: solid 1px;
    background-color: #383848;
    color: white;
    border-radius: 15px;
}

#about .content a:hover {
    background-color: #e4b95b;
}

.offers {
    height: auto;
    padding-bottom: 20px;
    background: url(img/offer-background.jpg) center center/ cover no-repeat;
}

.offers .header {
    padding: 40px 0 70px;
    justify-content: center;
    text-align: center;
}

.offers .header h2 {
    font-size: 40px;
    color: #e4b95b;
}

.offers .header p {
    color: #ffffff;
    margin-top: 20px;
    font-weight: 400;
}


.offers .offers-content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.offers .offers-content img:hover {
    width: 280px;
    height: 280px;
}

.offers .offers-content h3 {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;

}

.offers .offers-content p {
    color: #fff;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.offers .offers-content h4 {
    color: #e4b95b;
    font-size: 17px;
}

.offers .offers-content .price {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

#menu {
    height: auto;
    background-color: #f4f2ed;
    padding: 5rem 0;
    padding-bottom: 20px;
    text-align: center;
}

#menu .tittle {
    text-align: center;
    margin-bottom: 2rem;
}

#menu .tittle h2 {
    padding-bottom: 0.5rem;
    font-size: 40px;
    color: #383848;
}

#menu .tittle p {
    font-size: 13px;
    color: #a4a4a4;
}

#menu .btn {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .btn button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #383848;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

#menu .menu-items .menu-item div {
    padding-left: 1rem;
}

#menu .menu-items .menu-item h3 {
    border-bottom: #a4a4a4 1px dashed;
    position: relative;
    padding-bottom: .5rem;
    color: #383848;
}

#menu .menu-items .menu-item h3 span {
    color: #e4b95b;
    position: absolute;
    right: 0;
    top: 0;
}

#menu .menu-items .menu-item p {
    padding-top: .5rem;
}

#menu .menu-items .menu-item img {
    border-radius: 50%;
    width: 80px;
}

#menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #e4b95b;
    border: #e4b95b solid 1px;
    width: 200px;
    height: 50px;
}

#menu a:hover {
    background-color: #383848;
}

.Meals-times {
    height: auto;
    padding-bottom: 20px;
    background: url(img/daytime_bg.jpeg) center center / cover fixed no-repeat;
}

.Meals-times .meals img {
    padding: 30px 70px 20px;
}

.Meals-times .meals {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.Meals-times .meals h3 {
    padding-bottom: 10px;
    font-size: 30px;
    color: #fff;
}

.Meals-times .meals p {
    color: #fff;
}

#gallery {
    background: url(img/offer-background.jpg);
    height: auto;
    padding-bottom: 20px;
}

#gallery h2 {
    color: #fff;
    font-size: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#gallery .gall {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gallery .gall img {
    width: 280px;
    height: 200px;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
    opacity: 0.8;
}

#gallery .gall img:hover {
    opacity: 1;
}


#contact {
    background-color: #f4f2ed;
    height: auto;
    padding-bottom: 20px;
}

#contact .tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

#contact .tittle .left-tittle {
    padding-right: 200px;
}

#contact .tittle h3 {
    font-size: 30px;
    padding-bottom: 15px;
    color: #383848;
}

#contact .tittle p {
    color: #a4a4a3;
    padding-bottom: 5px;
}


#contact .tittle i {
    color: #e4b95b;

}

#contact .tittle h2 {
    padding: 30px 0 15px;
    font-size: 25px;
    color: #383848;
}

#contact form {
    width: 50%;
}

#contact form input {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 15px;
    background-color: #e3e2dd;
    border: none;
    border-radius: 10px;
}

#contact form textarea {
    display: block;
    width:100%;
    padding: 20px 15px;
    margin: 15px;
    background-color: #e3e2dd;
    border: none;
    border-radius: 10px;
} 

#contact .but {
    border: none;
    border: solid 1px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin: 15px;
    background-color: #e4b95b;
    color: #fff;
}

#contact .but:hover {
    background-color: #383848;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}

.humMenu {
    display: none;
}

/* mobil device*/

@media (max-width: 671px) {
header .content h1 {
    width: 300px;
    margin-left: 100px;
    padding-top: 20px;
}

#about .content {
    display: block;
}

#about .content img {
    width: 300px;
    margin-left: 17.5rem;
}

#about .content p {
    width:450px ;
    margin-left: 8rem;
}

#about .content a {
    margin-left: 8rem;
}

.offers .offers-content img {
    width: 120px;
}

.offers .offers-content img:hover {
    width: 130px;
    height: 130px;
}

#menu .menu-items {
    display: block;
}

#menu .menu-items .menu-item {
    margin-bottom: 25px;
}

.Meals-times .meals {
    display: block;
}

#contact .tittle {
    display: block;
}

#contact .tittle h3,
#contact .tittle .f {
    padding-left: 170px;
}


#contact .tittle h2{
    padding-left: 140px;
}


#contact .tittle h3,
#contact .tittle h2 {
    width: 550px;
}

#contact .tittle p {
    padding-left: 140px;
    width: 550px;
}

#contact form input {
    width: 450px;
}

#contact form textarea {
width: 450px;
}

#contact .but {
    width: 450px;
}

}

@media(min-width:672px) and (max-width:768px) {
    header .content {
        padding-top: 90px;
        
    }

    #about .content  {
        display: block;
    }

    #about .content p {
        width: 500px;
        margin-left: 15%;
    }

    #about .content img {
    width: 400px;
    margin-left: 35%;
}

.offers .offers-content img {
    width: 150px;
}

.offers .offers-content img:hover {
    width: 170px;
    height: 170px;
}
.Meals-times .meals img {
    width: 205px;
}

#contact .tittle .left-tittle {
    padding-right: 80px;
}
}


@media (max-width: 900px) {
    #nav {
        position: relative;
        padding-left: 15px;
        z-index: 111;
    }

    #nav .list {
        position: absolute;
        top: 75px;
        left: 0px;
        background-color: #ff8000;
        width: 100%;
        height: 215px;
        opacity: 0;
        padding-left: 15px;
    }

    #nav .list ul {
        display: block;
    }

    #nav .list ul li {
        border-bottom: 2px solid #e3e2dd;
        width: 100%;
        padding-bottom: 10px;
    }

    #nav .list ul li:last-child{
        border: none;
    }

    #nav .list ul li {
        padding-top: 10px;
    }

    #nav .list.active {
        opacity: 1;
    }

    .humMenu {
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        font-size: 30px;
        cursor: pointer;
    }

    .humMenu i {
            position: absolute;
            inset: 0;
            margin: auto;
            height: max-content;
            width: max-content;
            opacity: 0;
            transition: 0.3s ease;
    }

    .humMenu .fa-bars {
        opacity: 1;
    }

    .humMenu .fa-bars.active{
        opacity: 0;
        transform: rotate(180deg);
    }

    .humMenu .fa-xmark.active {
        opacity: 1;
        transform: rotate(180deg);
    }
}