* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alan Sans", sans-serif;
}

.humburger {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #000000eb;
}

.navbar a img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
}

.navbar .list ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
    margin-top: 20px;
}

.navbar .list ul li {
    margin-left: 70px;
    color: white;
    font-weight: bold;
}

.navbar .list ul li:hover {
    color: #7c1726;
    border-bottom: 2px solid #7c1726;
}

.navbar .list ul a {
    text-decoration: none;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/background.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .head {
    padding-top: 10%;
    padding-left: 32%;
    font-size: 30px;
}

.header .head h1 {
    color: white;
}

.header .head p {
    color: white;
    padding-left: 11%;
    padding-top: 5px;
    font-size: 29px;

}

.buttons {
    padding-left: 39%;
    padding-top: 2%;
}

.buttons a:hover {
    background-color: #7c172662;
}

.buttons .btn1,
.buttons .btn2 {
    background-color: #ffffff00;
    color: white;
    border: white solid 1px;
    width: 170px;
    border-radius: 5px;
    height: 50px;
    margin-right: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-top: 1.5%;
}

.social {
    padding-left: 45%;
    padding-top: 30px;
}

.social a {
    color: white;
    padding-left: 20px;
    font-size: 30px;
}

.social a:hover {
    color: #7c1726;
}

section .projects {
    height: auto;
    width: 100%;
    padding-top: 40px;
    background-color: black;
}

section .projects h1 {
    color: white;
    padding-left: 40%;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 50px;
}

.projects .project {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    row-gap: 40px;
    /* width: 100%; */
}

.projects .project div {
    /* border: white 1px solid; */
    width: 97%;
    height: 250px;
    border-radius: 5px;
    margin-left: 50px;
}

.projects .project div:last-child {
    margin-bottom: 35px;
}

.projects .project .food {
    background-image: url(image/food.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project .testimonials {
    background-image: url(image/test.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project .final {
    background-image: url(image/soquk.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project .recipe {
    background-image: url(image/recipe.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project div a {
    width: 90px;
    height: 35px;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 5px;
    border: solid white 2px;
    /* color: white; */
    text-decoration: none;
    /* margin-left: 45%; */
    display: inline-block;
    margin-top: 20%;
    display: none;
}

.projects .project div .a1 {
    padding-left: 25px;
    color: white;
    font-weight: bold;
    margin-left: 25%;
}

.projects .project div .a2 {
    color: black;
    font-weight: bold;
    background-color: white;
    margin-left: 10%;
    padding-left: 23px;
    /* padding-top: 6px; */
}

.projects .buts:hover div a {
    display: inline-block;
}

.project .buts {
    transition: transform 0.3s ease;
}

.project .buts h2 {
    color: white;
    padding-left: 43%;
}

.project .s h2 {
    padding-left: 53%;
}

.project .r h2 {
    padding-left: 50%;
}

.project .buts:hover {
    transform: scale(1.05);
}

.projects .project .food:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/food.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project .testimonials:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/test.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project .final:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/soquk.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .project .recipe:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/recipe.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section2 {
    width: 100%;
    height: auto;
    background-color: black;
}

.section2 h1 {
    color: white;
    padding-left: 45%;
    padding-bottom: 4%;
    padding-top: 5%;
    font-size: 50px;
}

.section2 .icons {
    display: grid;
    grid-template-columns: repeat(4, 315px);
    gap: 20px;
    margin-left: 6.5%;
}

.section2 .icons .icon img {
    width: 100px;
    height: 100px;
}

.section2 .icons .icon {
    border: solid white 1px;
    width: 100%;
    height: 200px;
    color: white;
    padding-left: 35%;
    padding-top: 15%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.section2 .icons .icon:hover {
    transform: scale(1.05);
}

.section2 .icons .icon h3 {
    padding-top: 10px;
}

.section2 .icons .html h3 {
    padding-left: 20px;
}

.section2 .icons .css h3 {
    padding-left: 30px;
}

.section2 .icons .js h3,
.section2 .icons .git h3 {
    padding-left: 36px;
}

.section2 .icons .bootstrap h3 {
    padding-left: 8px;
}

.section2 .icons .react h3,
.section2 .icons .github h3 {
    padding-left: 13px;
}

.section2 .btn3 {
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color: #44414183;
    text-decoration: none;
    border: solid white 1px;
    margin-left: 48%;
    margin-top: 3%;
    width: 100px;
    height: 40px;
    padding-left: 12px;
    padding-top: 10px;
    border-radius: 5px;
    margin-bottom: 3%;
}

.section2 .btn3:hover {
    background-color: #7c17269c;
}

footer {
    background-color:#1d1e20;
    height: 100px;
}

footer .footer .social {
    padding-left: 45%;
    padding-top: 10px;
}

footer .footer .social a {
    color: white;
    padding-left: 20px;
    font-size: 30px;
}

footer .copyright {
    color: white;
    padding-left: 35%;
    padding-top: 1%;
}

footer .copyright h2{
    color: #9da1a5;
}

footer .copyright h2 span {
    color: #7c1726;
}

@media (max-width: 500px) {
    .header {
    height: auto;
}

.container {
    width: 80%;
    margin: auto;
}

.header .head {
    padding-top: 10%;
    padding-left: 0%;
    font-size: 20px;
}

.header .head h1 {
    width:400px;
    margin: auto;
}

.header .head p {
    padding-left: 12%;
    font-size: 25px;
}

.buttons {
    padding-left: 8%;
    padding-top: 5%;
}

.buttons .btn1,
.buttons .btn2 {
    width: 150px;
    margin-right: 15px;
    padding-top: 3%;
}

.social {
    padding-left: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

section .projects {
    margin: auto;
}

section .projects h1 {
    padding-left: 25%;
}

.projects .project {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    row-gap: 40px;
    /* width: 100%; */
}

.projects .project div {
    /* border: white 1px solid; */
    width: 97%;
    height: 250px;
    border-radius: 5px;
    margin-left: 35px;
}

.section2 h1 {
    color: white;
    padding-left: 35%;
    padding-bottom: 4%;
    padding-top: 5%;
    font-size: 45px;
}

.section2 .icons {
    grid-template-columns: repeat(1, 315px);
}

.section2 .icons .icon {
    margin-left: 23%;
}

.section2 .btn3 {
    margin-left: 44%;
}

footer .footer .social {
    padding-left: 33%;
}

footer .copyright {
    color: white;
    padding-left: 10%;
    padding-top: 1%;
    font-size: 13px;
}

}

@media (max-width: 900px) {
    .navbar {
        position: relative;
    }

    .humburger {
        display: block;
        cursor: pointer;
        font-size: 25px;
        width: 45px;
        height: 45px;
        /* background-color: #7c1726; */
        position: relative;
        margin-right: 45px;
        margin-top: 10px;
    }

    .humburger i {
        position: absolute;
        inset: 0;
        /*left = 0 , right = 0 , top = 0 , bottom = 0*/
        margin: auto;
        width: max-content;
        height: max-content;
        opacity: 0;
        transition: .3s ease;
    }

    .humburger .fa-bars {
        opacity: 1;
    }

    .humburger .fa-bars.active {
        opacity: 0;
        transform: rotate(180deg);
    }

    .humburger .fa-xmark.active {
        opacity: 1;
        transform: rotate(180deg);
    }

    .list {
        position: absolute;
        background-color: #7c1726;
        top: 60px;
        left: 0;
        width: 100%;
        opacity: 0;
    }

    .list.active {
        opacity: 1;
    }

    .navbar .list ul {
        display: block;
    }

    .navbar .list ul li {
        margin: 20px 0;
        margin-left: 65px;
        border-bottom: 1px solid #a4a4a4;
        padding-bottom: 10px;
    }

    .navbar .list ul .last {
        border-bottom: none;
    }

    .navbar .list ul li a {
        margin: 0;
    }

    .navbar .list ul li:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}
}